<div class="d-flex align-items-center justify-content-between p-4 w-100"
    style="height:80px; background:grey; position:fixed; z-index: 1;">
    <div class="logo">
        <img routerLink="/"
            src="https://cdn.iconscout.com/icon/free/png-256/shop-ecommerce-online-shopping-selling-store-market-13200.png"
            style="width:50px; height: 50px; cursor: pointer;" alt="">
    </div>
    <form action="">
        <div class="nav-serach d-flex align-items-center" style="width:600px;">
            <input style="width:300px" placeholder="Search for product..." #searchValue class="form-control"
                type="text">
            <select style="width:150px" class="form-control" #categoryIdValue>
                <option *ngFor="let c of categories" value="{{c.categoryId}}">{{c.name}}</option>
            </select>
            <button class="m-1 btn btn-primary" (click)="onSearch()">Search</button>
        </div>
    </form>
    <div class="user-links d-flex">
        <div *ngIf="userLoggedIn" class="d-flex">
            <div class="d-flex">
                <a href="#" class="fa fa-shopping-cart text-white fa-2x" style="text-decoration: none;" routerLink="/shopping-cart"></a>
                <div class="d-flex flex-column ml-1" >
                    <span class="text-black text-center" style="font-size: 11px; background: white; width: auto; height: auto; border-radius: 20px;">{{numOfCartItems}}</span>
                    <span class="text-white" style="font-size: 11px;">Cart</span>
                </div>
            </div>
            <div class="ml-4">
                <a href="#" class="fa fa-lock text-white fa-2x" style="text-decoration: none;" routerLink="/products"></a>
                <span class="text-white" style="font-size: 11px;">Admin</span>
            </div>
            <div class="ml-3">
                <a href="#" class="fa fa-history text-white fa-2x" style="text-decoration: none;" routerLink="/purchase-history/{{userId}}"></a>
                <span class="text-white" style="font-size: 11px;">Purchase History</span>
            </div>
            <div class="ml-5">
                <i class="fa fa-sign-out text-white fa-2x"  (click)="onLogout()" style="cursor: pointer;"></i>
            </div>
        </div>
        <div *ngIf="!userLoggedIn">
            <a href="#" style="font-size: 18px;" class="mr-3 text-white" routerLink="/user/login">SignIn</a>
            <a href="#" style="font-size: 18px;" class="mr-3 text-white" routerLink="/user/register">Register</a>
        </div>
    </div>
</div>