<div class="row">
    <div class="col-sm-12">
        <div style="margin-left: 180px; margin-top: 20px;">
            <button class="btn btn-primary" routerLink="/add-product">Add new product</button>
            <hr style="margin-right: 175px;">
        </div>
        <div *ngFor="let p of products">
            <app-admin-product-item [currentPage]="currentPage" [numberOfItems]="numberOfItems" [productItem]="p"></app-admin-product-item>
        </div>
        <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="38" [pageSize]="numberOfItems" [(page)]="currentPage" [maxSize]="20"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="pageNumberChange($event)"></ngb-pagination>
        </div>
    </div>
</div>